/*Navigation Bar Styling*/
.nav-wrapper{
	background-color: #2196f3;
}
.navigation-bar{
	margin: 0 5%;
}
.logo{
	font-size: 2.1em;
	margin-left: 50px;
	margin-right: 20px;
}
.right{
	margin-right: 50px;	
}
.material-icons{
	font-size: 10rem;
}
/*Body Styling*/
body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	/*height: 100%;*/
	background: white;
	font-family: 'Roboto';
	
}
main{
	flex: 1 0 auto;
}
h1{
	color:#ff911c;
}
h2, h3{
	color: #ffa647;
}
label{
	color: black;
}
.btn{
	background-color: #0693BE; 
}
.btn:hover{ 
	background-color: #14C9D2;
}
.message-cont{
	height: 70%;
	max-height: 70%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border: 1px solid #2196f3;
	padding-top: 1%;
	padding-bottom: 1.5%;
	padding-left: 1%;
	padding-right: 1%;
}
.members{
	position: sticky;
}
.msg-view{
	max-height: 70%;
	overflow: auto;
}

/*Footer*/
footer{
	color: white;
    background-color: #2196f3;
}
.footer-info p{
	text-align: justify;
}
.footer-info li span{
	margin-right: 10px;
}
.social-media{
	text-align: center;
	margin-bottom: 0;
}
.social-media a{
	margin-right: 15px;
}
.footer-copyright{
	margin: 0;
}